* {
  box-sizing: border-box;
}

html {
  Background: linear-gradient(90deg, green, rgba(0, 0, 100, 0.9), orange);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 0.7rem 0 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#title {
  text-align: center;
  font-size: 2.6rem;
  width: 90%;
  /* background-image: url('./assets/weather.jpg'); */
}

#background {
  display:inline-block;
  width: 10%;
  object-fit: cover;
}

#root {
  width: 90%;
}

#main {
  width: 90%;
  margin: 5rem auto 2rem auto;
  display: flex;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  align-content: center;
}

#label {
  grid-column: 1/2;
  padding: 0.8rem;
  font-weight: 550;
  font-size: 1.5rem;
  font-family: pacifico-regular;
}

#value {
  grid-column: 2/3;
  text-align: center;
  padding: 0.8rem;
  font-weight: 550;
  font-size: 1.5rem;
}

section:nth-of-type(3) {
  margin-bottom: 2rem;
}

button {
  grid-column: 1/3;
  padding: 0.1rem 2rem;
  border-radius: 5px;
  margin: auto;
  font-size: 1.5rem;
  font-family: "Amita", cursive;
  color: rgba(0, 0, 0, 0.7)
}

button:hover {
  background-color: #bbb;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.amita-bold {
  font-family: "Amita", serif;
  font-weight: 700;
}